api.auth.username=admin
api.auth.password=admin
api.uri=http://localhost:8080
api.levels=1
api.building=SCHOOL
api.test-mode=false
api.request.interval=5000
font.size.title=94
header.text=Test Header Text